<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MRP_Client.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MRP_Client.Shared.MainLayout)">
            <h1>Nicht gefunden</h1>
            <p>Diese Seite existiert nicht.</p>
        </LayoutView>
    </NotFound>
</Router>